commands:
  "01":
    command: pip install awscli --upgrade --user
  "02":
    command: aws secretsmanager get-secret-value --secret-id ClimbAssistRsaPrivateKey --region us-west-2 --output text --query SecretString > /etc/pki/tls/certs/server.key

files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID5DCCAsygAwIBAgIJAJQkBRDAYjbdMA0GCSqGSIb3DQEBBQUAMIGGMQswCQYD
      VQQGEwJVUzETMBEGA1UECAwKV2FzaGluZ3RvbjEQMA4GA1UEBwwHU2VhdHRsZTEV
      MBMGA1UECgwMQ2xpbWIgQXNzaXN0MRgwFgYDVQQDDA9jbGltYmFzc2lzdC5jb20x
      HzAdBgkqhkiG9w0BCQEWEGt5bGVrY0B1bWljaC5lZHUwHhcNMTkwMTI5MTg1MTQw
      WhcNMjkwMTI2MTg1MTQwWjCBhjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCldhc2hp
      bmd0b24xEDAOBgNVBAcMB1NlYXR0bGUxFTATBgNVBAoMDENsaW1iIEFzc2lzdDEY
      MBYGA1UEAwwPY2xpbWJhc3Npc3QuY29tMR8wHQYJKoZIhvcNAQkBFhBreWxla2NA
      dW1pY2guZWR1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3E2LBHHq
      ejgbw+1q6nuVleryE0c+HoFZMsXIa4XcTq7qEi12GchV6nEDTFLOQ7KHsbRDx86x
      WdwoTdP1reuouNH2WWbjoriqB4ubC31NGCZTFi6ZTs5lzZmxE3NohT5AkrTLDn5+
      eaQjlI+mXLjKQaJvup7mS3N6xjyRmtlbQGBcvKRFRXtqYgiFY3cNZAyomCxBzi/b
      xaJaAyw+g1quGKjcb/DEdyRjUYojOOftHd8tzOKfkbvkcEu37i9AL3fEgvp1IeJY
      ZnBXjFMM+vpn/7aKOTXhunYJrccIa7B5a5DCGD/ltTywIDKB6VZ/h9wAWYj7POBs
      B5r5QFyJmOS+YwIDAQABo1MwUTAdBgNVHQ4EFgQUYBofnl78OwXSi5s6207+m1zc
      6rkwHwYDVR0jBBgwFoAUYBofnl78OwXSi5s6207+m1zc6rkwDwYDVR0TAQH/BAUw
      AwEB/zANBgkqhkiG9w0BAQUFAAOCAQEAKRvIBKcinYbeGdVxbuGXtGA6BLQpDZCH
      gP4HVw70UeYuL9Ij4WcwtIEuRTGT60fIzR9Eeha5xif6ol2vdnghyotB5MV9J3la
      kBzglTPZWJI8vHjpE4u/lzPBtTcMjWCWpVCtcRhfbI5dsFY4Yx4Fapak0oD3ZE0g
      uv3GCrjVk6AEiOgIzH0CGI5lED+Qh55Nr7mHof7+eqYlhfpzGn+YiItKSv7McCfY
      CaT9rLQBxIEY4A/raCRAXEQcGOgLm+28C9HjoU+SKLAyOz+2rdcYh8q+7WwHgR9T
      ANspfuhwlLlCMJvzTlY3p5XpC2D15TyoFlkbyMjVTF/n9umcvb/h6w==
      -----END CERTIFICATE-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart
