packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awscli.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/tomcat8/application.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/application.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/tomcat8/application.log

commands:
  "01":
    command: pip install awscli --upgrade --user
  "02":
    command: chkconfig awslogs on
  "03":
    command: service awslogs restart
